<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/bootstrap_head %>
  </head>
  <body>
    <%- include ./partials/navbar.ejs %>
    <%- include ./partials/jumbotron.ejs %>
    <div class="container">This is a main page</div>
    <%- include ./partials/bootstrap_footer%>
  </body>
</html>